:root {
  --font: "monospace";
  --font-family: "monospace";
  --background: #080c07;
  --foreground: #b9c9b8;
  --green: #638660;
  --red: #bd4d5a;
  --orange: #a47449;
  --branch: 1px solid #b9c9b8;
}

html {
  font-size: 20px;
}

html,
body {
  height: 100%;
}

img {
  height: auto;

  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--background);
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding-bottom: 60px;
}

.prompt {
  font-family: var(--font);
  color: var(--foreground);
}

.prompt ~ .prompt {
  padding: 1.5rem 0 0.3125rem;
}

span {
  color: var(--green);
}

p.increased-line-height {
  color: #b9c9b8;
  line-height: 1.5;
  font-size: 1.1rem;
}

h1 {
  display: inline;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: normal;
  color: var(--red);
}

.tree > ul {
  margin: 0;
  padding-left: 1rem;
}

ul {
  list-style: none;
  padding-left: 2.5rem;
}

li {
  position: relative;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -0.75rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.5rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}

a {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--background);
  background: var(--orange);
}

form h1 {
  padding-left: 0.125rem;
}

.tree hr {
  border: 0;
  height: 1px;
  background-color: #b9c9b8;
  margin: 10px 0;
  width: 50%;
}

input {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
  border: none;
  outline: none;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--foreground);
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding: 10px 0;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

#footer li a {
  margin-right: 15px;
}

#footer li:last-child {
  margin-right: 0;
}

#footer li:last-child a {
  margin-right: 0;
}

#footer a {
  color: var(--foreground);
  background-image: none;
}

#footer a:hover {
  color: lighten(var(--foreground), 20%);
}

/* Mobile-first styles */
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }
}
/* Tablet styles */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 100%;
  }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  body {
    font-size: 22px;
  }
  .container {
    width: 65%;
  }
}
